---
import MobileFirstLayout from '../layouts/MobileFirstLayout.astro';
import Hero from '../components/Hero.astro';
import FamilyIntro from '../components/FamilyIntro.astro';
import ModelDetail from '../components/ModelDetail.astro';
import CTA from '../components/CTA.astro';
---

<MobileFirstLayout title="Coppel Familia Apache Landing">
	<div class="snap-wrapper snap-y snap-mandatory overflow-y-scroll h-screen">	
		<section class="snap-start min-h-screen flex flex-col"><Hero /></section>
		<section class="snap-start min-h-screen flex flex-col"><FamilyIntro /></section>
		<section class="snap-start min-h-screen flex flex-col"><ModelDetail /></section>
		<section class="snap-start min-h-screen flex flex-col"><CTA /></section>
	</div>
</MobileFirstLayout>
